@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --title: #191927;
  --lightgreen: #00bf63;
  --orange: #ff914d;
  --blue: #004aad;
  --lightgrey: #f3f3f3;
  --darkblue: #153259;
}


body {
  color: var(--title);
  background: var(--lightgrey);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
